{{ define "main" }}
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="md:col-10 lg:col-7 text-center">
          {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto" "Size" "400x") }}
          {{ with .Params.image_caption }}
          <p class="text-sm italic text-gray-600 mb-6">{{ . | markdownify }}</p>
          {{ end }}
          <h2 class="h3 mb-6">{{ .Title }}</h2>
          <div class="content">{{ .Content }}</div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
